<div class="title">
  שכונה:
  <span *ngIf="neighborhood" class="title-content">{{neighborhood.name_heb}}</span>
</div>
<hr class="title">
<div class="diseases">
מספר מקרי תחלואה כללי:
  <span class="diseases-content">{{diseases_count}}</span>
</div>
<div class="cancers">
מספר מקרי תחלואת סרטן
  <span class="cancers-content">{{cancers_count}}</span>
</div>
<div class="incidents">
מספר אירועי זיהום אוויר שדווחו:
  <span class="incidents-content">{{incidents_count}}</span>
</div>
<div class="others">
מספר אירועים אחרים שדווחו:
  <span class="others-content">{{others_count}}</span>
</div>
<div class="rank">
דירוג השכונה:
  <span class="rank-content">{{rank}}</span>
</div>
