#map{
  height: 100vh;
  width: 100%;
}

.sebm-google-map-info-window{
  background-color: red;
}
#wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
.title-main{
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
.title-sub{
  font-family: 'Suez One', sans-serif;
  color: #3c510c;
}

.logo{
  max-height: 24px
}

.fab {
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  border:none;
  font-size:1.5em;
  color:white;
  background-color: #ff4081;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
  background-color: #ff4060;
}



@media (min-width:600px)  {

  .logo{
    max-height: 64px
  }

  .fab {
    width: 100px;
    height: 100px;
  }

}

.map-panel{
  background-color: #0000cc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65vh;
  z-index: 3;
  margin-top: 8vh;
}

.fab-add{


}

.fab-add img{
  max-height: 64px;
}

.fab-chat{
  background-color: #85144b;
  right: 15vw;
}

.fab-chat img{
  max-height: 64px;
}
