<div id="wrapper">
  <div id="google_map">


    <sebm-google-map id="map"
                     [latitude]="center.lat" [longitude]="center.lng" [zoom]="center.zoom"
                     [draggableCursor]="'pointer'"
                     [streetViewControl]="false"
                     [disableDoubleClickZoom]="true"
                     (mapClick)="onMapClick($event)"
                     (mapRightClick)="onMapClick($event)">

      <!-- NEIGHBORHOOD POLYGONS -->
      <sebm-map-polygon *ngFor="let n of neighborhoods| async"
                        [clickable]="true"

                        [paths]="getPath(n.id)"
                        [fillColor]="getColor(n.id, n.diseases)"
                        [fillOpacity]="neighborhoodProperties[n.id - 1].opacity"
                        [strokeWeight]="neighborhoodProperties[n.id - 1].strokeWeight"
                        [strokeOpacity]="neighborhoodProperties[n.id - 1].strokeOpacity"

                        (polyClick)="pClick(n.id, $event)"
                        (polyRightClick)="pRightClick(n.id)"
                        (polyMouseOver)="pMouseOver(n.id)"
                        (polyMouseOut)="pMouseOut(n.id)"
      ></sebm-map-polygon>
      <!-- /NEIGHBORHOOD POLYGONS -->

      <!-- NEIGHBORHOOD CENTER -->
      <sebm-google-map-marker *ngIf="centerMarker.center"
                              [latitude]="centerMarker.center.lat" [longitude]="centerMarker.center.lng"
                              [label]="centerMarker.label"
                              [iconUrl]="'./public/images/info.png'">

        <sebm-google-map-info-window
          [disableAutoPan]="true">
          <app-neighborhood-details [neighborhood]="neighborhood"></app-neighborhood-details>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>
      <!-- /NEIGHBORHOOD CENTER -->

      <!-- INCIDENTS MARKERS -->
      <sebm-google-map-marker *ngFor="let incident of incidents | async"
                              [latitude]="incident.location.latLng.lat" [longitude]="incident.location.latLng.lng"
                              [iconUrl]="'./public/images/incident1.png'">

        <sebm-google-map-info-window
          class="event-info-window"
          [disableAutoPan]="true">
          <app-incident [incident]="incident"></app-incident>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>
      <!-- /INCIDENTS MARKERS -->

    </sebm-google-map>
  </div>

  <div id="over_map">

    <!-- Logo -->
    <a class="navbar-brand" href="http://localhost:3000">
      <img class="logo" src="./public/images/cw-logo.png" alt="Logo">
    </a>

    <!-- FAB Button -->
    <button class="fab fab-add" (click)="onFabClick()"><img src="./public/images/add.png"/></button>

    <!-- FAB Button chat
    <button class="fab fab-chat" (click)="onFabClick()"><img src="./public/images/chat.png" /></button>
    -->
  </div>

</div>


<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">הוסף מקרה</h4>
  </modal-header>
  <modal-body>
    <app-input-form [eventDetails]="selectedEvent" (submit)="submit()"></app-input-form>
  </modal-body>
</modal>
