.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
  font-family: Alef, Arial, Helvetica, sans-serif;
  color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important;
}

.asteriskField {
  color: red;
}

.heading-custom{
  margin: 0.83em auto;
  font-weight: 600;
  color: #0099f0;
  font-size: 1.6em;
  border-bottom: solid #0099f0 1px;
}
.heading-custom .span-heading{
  display: inline-block;
}
#date-container >>> .datepicker{
  right: 0 !important;
}
