<!-- Inline CSS based on choices in "Settings" tab -->

<div class="bootstrap-iso">
  <div class="container-fluid">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

      <div class="row">

        <!-- Main Type -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label requiredField" for="incident-type">בחר סוג אירוע לדיווח<span
              class="asteriskField">*</span></label>
            <select class="select form-control" formControlName="mainType" id="main-type" name="main-incident"
                    (change)="onSelectTypeMain($event.target.value)">
              <option *ngFor="let o of mainTypeOptions" value="{{o.value}}">{{o.description}}</option>
            </select>
          </div>
        </div>

        <!-- Neighborhood -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label requiredField" for="neighborhood">בחר את איזור בו התגלה המקרה<span
              class="asteriskField">*</span></label>
            <select class="select form-control" formControlName="neighborhood" id="neighborhood"
                    name="neighborhood"
                    (change)="onSelectedNeighborhood($event.target.value)">
              <option value="" selected disabled>{{eventDetails.n_name}}</option>
              <option *ngFor="let o of neighborhoodOptions" value="{{o.id}}">{{o.name_heb}}</option>
            </select>
          </div>
        </div>

        <!-- Address
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group ">
            <label class="control-label requiredField" for="address">לחלופין - הזן כתובת בה התגלה המקרה<span
              class="asteriskField">*</span></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-map-marker">
                </i>
              </div>
              <input class="form-control" formControlName="address" id="address" name="address" type="text"/>
            </div>
            <span class="help-block" id="hint_address">הזן כתובת או שם איזור</span>
          </div>
        </div>
        -->
      </div>

      <!-- /Main Incident Type -->
      <div class="row">
        <h3 class="heading-custom">
          <span class="span-heading">פרטי הדיווח - </span>
          <span [ngSwitch]="selectedMainType">
            <span *ngSwitchCase="0">
בחר סוג דיווח
            </span>
            <span *ngSwitchCase="1">
              אירוע תחלואה
            </span>
            <span *ngSwitchCase="2">
אירוע זיהום אוויר
            </span>
            <span *ngSwitchCase="3">
אחר
            </span>
          </span>
        </h3>
      </div>

      <div [ngSwitch]="selectedMainType">

        <!-- CASE: Not Selected Yet -->
        <div *ngSwitchCase="0">

        </div>

        <!-- CASE: DISEASE -->
        <div class="row" *ngSwitchCase="1">

          <!-- DISEASE TYPE -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label requiredField" for="disease-type">בחר<span
                class="asteriskField">*</span></label>
              <select class="select form-control" formControlName="subTypeDisease" id="disease-type"
                      name="incident-type"
                      (change)="onDiseaseSelect($event.target.value)">
                <option *ngFor="let o of subTypeDiseaseOptions" value="{{o.value}}">{{o.description}}</option>
              </select>
            </div>
          </div>
          <!-- /DISEASE TYPE -->

          <!-- OTHER INCIDENT TYPE -->
          <div *ngIf="cancerSelected" class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label" for="cancer-type">סוג סרטן</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk">
                  </i>
                </div>
                <input class="form-control" formControlName="cancerType" id="cancer-type"
                       name="cancerType" type="text"/>
              </div>
            </div>
          </div>
          <!-- /OTHER INCIDENT TYPE -->

          <!-- CALENDAR -->
          <div class="col-md-6 col-sm-6 col-xs-12" id="date-container">
            <div class="form-group">
              <label class="control-label" for="disease-date">תאריך</label>
              <div class='input-group date' id='disease-date'
                   data-provide="datepicker"
                   data-date-format="dd/mm/yyyy"
                   data-date-autoclose="true"
                   data-date-language="he"
                   data-date-end-date="0d"
                   data-date-today-btn="linked"
                   data-date-container="#date-container"
              >
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                <input type='text' class="form-control" formControlName="diseaseDate" name="disease-date"
                       placeholder="{{now | date: 'dd/MM/yyyy'}}"/>
              </div>
              <span class="help-block" id="hint_date">אומדן של תאריך גילוי המקרה אם קיים</span>
            </div>
          </div>
          <!-- /CALENDAR -->

          <!-- DISEASE DESCRIPTION -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="disease-description">תיאור המקרה</label>
            <textarea class="form-control" formControlName="diseaseDescription" cols="20" id="disease-description"
                      name="disease-description"
                      rows="3"></textarea>
              <span class="help-block" id="hint_disease-description">רשות - תיאור המקרה</span>
            </div>
          </div>
          <!-- /DISEASE DESCRIPTION -->

        </div>
        <!-- /CASE: DISEASE -->

        <!-- CASE: Incident -->
        <div class="row" *ngSwitchCase="2">

          <!-- INCIDENT TYPE -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label requiredField" for="incident-type">בחר<span
                class="asteriskField">*</span></label>
              <select class="select form-control" formControlName="subTypeIncident" id="incident-type"
                      name="incident-type"
                      (change)="onIncidentSelect($event.target.value)">
                <option *ngFor="let o of subTypeIncidentOptions" value="{{o.value}}">{{o.description}}</option>
              </select>
            </div>
          </div>
          <!-- /INCIDENT TYPE -->

          <!-- OTHER INCIDENT TYPE -->
          <div *ngIf="selectedIncidentOther" class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label" for="other-incident-type">תיאור סוג אירוע</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk">
                  </i>
                </div>
                <input class="form-control" formControlName="otherIncidentType" id="other-incident-type"
                       name="otherIncidentType" type="text"/>
              </div>
            </div>
          </div>
          <!-- /OTHER INCIDENT TYPE -->

          <!-- INCIDENT ADDRESS -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ">
              <label class="control-label requiredField" for="address">כתובת שבה התגלה האירוע<span
                class="asteriskField">*</span></label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker">
                  </i>
                </div>
                <input class="form-control" formControlName="address" id="address" name="address" type="text"/>
              </div>
              <span class="help-block" id="hint_address">הזן כתובת או שם איזור</span>
            </div>
          </div>
          <!-- /INCIDENT ADDRESS -->

          <!-- INCIDENT DETAIL ROW -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="incident-description">תיאור האירוע</label>
            <textarea class="form-control" formControlName="incidentDescription" cols="40" id="incident-description"
                      name="incident-description"
                      rows="3"></textarea>
              <span class="help-block" id="hint_incident-description">תאר את האירוע</span>
            </div>
          </div>
          <!-- /INCIDENT DETAIL ROW -->

          <!-- Upload Image -->
          <div class="col-md-12 col-sm-12 col-xs-12">

            <image-upload class=""
                          [max]="1"
                          [buttonCaption]="'הוסף תמונה'"
                          [dropBoxMessage]="'גרור תמונה לכאן'"
            ></image-upload>
          </div>
          <!-- /Upload Image -->


        </div>

        <!-- CASE: Other -->
        <div class="div" *ngSwitchCase="3">

          <!-- INCIDENT DETAIL ROW -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="other-description">תיאור חופשי של המקרה</label>
            <textarea class="form-control" formControlName="otherDescription" cols="40" id="other-description"
                      name="incident-description"
                      rows="3"></textarea>
              <span class="help-block" id="hint_other-description">בחר כל דרך לתאר את המקרה</span>
            </div>
          </div>
          <!-- /INCIDENT DETAIL ROW -->

        </div>
      </div>

      <!-- /INCIDENT DETAIL ROW -->


      <!-- REPORTER DETAILS HEADER -->
      <div class="row">
        <h3 class="heading-custom">
          <span>פרטי המדווח</span>
        </h3>
      </div>
      <!-- /REPORTER DETAILS HEADER -->

      <!-- CHECKBOX -->
      <div class="form-group" id="div_report-type">
        <div class="anonymous">
          <label class="checkbox-inline">
            <input name="report-type" formControlName="anonymous" type="checkbox" value="ארצה לדווח בצורה אנונימית"
                   [(ngModel)]="anonymousReport"/>
            ארצה לדווח בצורה אנונימית
          </label>
        </div>
      </div>
      <!-- /CHECKBOX -->

      <!-- Anonymous report -->
      <div *ngIf="!anonymousReport" class="user-details">

        <!-- NAME & PHONE ROW -->
        <div class="row">
          <!-- NAME -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="name">שם ומשפחה</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input class="form-control" formControlName="name" id="name" name="name" placeholder="שם" type="text"/>
              </div>
              <span class="help-block" id="hint_name">רשות - הוסף שם</span>
            </div>
          </div>
          <!-- /NAME -->

          <!-- PHONE-NUMBER -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="tel">מספר טלפון</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input class="form-control" formControlName="phone" id="tel" name="tel" placeholder="xxx-xxxxxxx"
                       type="text"/>
              </div>
              <span class="help-block" id="hint_tel">רשות - הוסף מספר טלפון</span>
            </div>
          </div>
          <!-- /PHONE-NUMBER -->
        </div>
        <!-- /NAME & PHONE ROW -->


        <!-- E_MAIL -->
        <div class="form-group">
          <label class="control-label " for="email">דואר אלקטרוני</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </div>
            <input class="form-control" formControlName="email" id="email" name="email" placeholder="user@email.com"
                   type="text"/>
          </div>
          <span class="help-block" id="hint_email">רשות - הוסף דואר אלקטרוני</span>
        </div>
        <!-- /E_MAIL -->

      </div>
      <!-- /Anonymous report -->

      <input type="submit" class="btn btn-info pull-left" value="סיים" [disabled]="!eventForm.valid">


    </form>
  </div>
</div>
