.incident{
  margin-top: 18px;
}

.incident-title{
  font-family: 'Suez One', serif;
}
.incident-type{
  font-family: 'Alef', serif;
  font-weight: 500;
  margin-top: 8px;
  margin-right: 4px;
}

.location-title{
  font-family: 'Alef', serif;
  font-weight: 600;
  margin-top: 4px;
  margin-right: 4px;
}

.location-content{
  font-family: 'Alef', serif;
  margin-top: 4px;
  margin-right: 4px;
}

.description-title{
  font-family: 'Alef', serif;
  font-weight: 600;
  margin-top: 4px;
  margin-right: 4px;
}

.description-content{
  font-family: 'Alef', serif;
  font-weight: 400;
  margin-top: 4px;
  margin-right: 4px;
}

.reporter-title{
  font-family: 'Alef', serif;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-right: 4px;
}

.reporter-content{
  font-family: 'Alef', serif;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-right: 4px;
}
.date-title{
  font-family: 'Alef', serif;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-right: 4px;
}

.date-content{
  font-family: 'Alef', serif;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-right: 4px;
}
