<div class="incident">
  <div class="title">
    <div class="incident-title">
      אירוע זיהום אוויר חמור
    </div>
    <hr/>
  </div>
  <div class="location">
    <span class="location-title">איזור הדיווח: </span>
    <span class="location-content">
      {{incident.location.neighborhood.name_heb}}
    </span>
  </div>

  <div class="description">
    <span class="description-title">
      תיאור אירוע (אם קיים):
    </span>
    <span class="description-content">
      {{incident.description}}
    </span>
  </div>

  <div class="reporter">
    <span class="reporter-title">
      דווח ע"י:
    </span>
    <span *ngIf="incident.reporter.name" class="reporter-content">
      {{incident.reporter.name}}
    </span>
    <span *ngIf="!incident.reporter.name" class="reporter-content">
      אנונימי
    </span>
  </div>

  <div class="date">
    <span class="date-title">
      דווח בתאריך:
    </span>
    <span class="date-content">
{{incident.time}}
    </span>
  </div>

</div>
